/* Media Queries */
@media screen and (max-width: 1000px) {
    .quote-container {
        max-width: 800px;
        margin: auto 10px;
        font-size: 1.4rem;
        min-width: 350px;
    }

    .fa-quote-left {
        font-size: 3rem;
    }

    .quote-text,
    .long-quote {
        font-size: 2rem;
    }

    .quote-author {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 700px) {
    #copy-icon {
        top: 16px;
        right: 19px;
        cursor: pointer;
        font-size: 24px;
    }

    .quote-container {
        padding: 20px 20px;
    }

    .fa-quote-left {
        font-size: 3rem;
    }

    .quote-text,
    .long-quote {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 500px) {
    .quote-container {
        padding: 15px 15px;
    }

    #main-quote {
        /* for copy icon */
        padding: 8px 5px;
    }

    #copy-icon {
        top: 12px;
        right: 16px;
        font-size: 19px;
    }

    button {
        font-size: 1rem;
        height: 2rem;
        border-radius: 9px;
        background: #333;
        padding: 0.4rem 1.4rem;
        /* box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65); */
    }

    .fa-twitter {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {
    .fa-quote-left {
        font-size: 2rem;
    }

    .quote-text,
    .long-quote {
        /* font-size: 2rem; */
        font-size: 1.25rem;
    }

    .quote-author {
        /* font-size: 1.25rem; */
        font-size: 0.7rem;
    }

    #copy-icon {
        top: 8px;
        right: 10px;
        font-size: 16px;
    }

    button {
        font-size: 1rem;
        height: 1.8rem;
        border-radius: 8px;
        color: #fff;
        background: #333;
        padding: 0.3rem 0.7rem;
        /* box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65); */
    }
}